.servicesItem_icon{
    text-align: center;
    border: 1px solid white;
    border-radius:1rem 3rem;
    padding: 1rem 3rem;

}
#light .servicesItem_icon{
    border: 1px solid black;
}
#light .servicesItem_title{
    color: black;
}

svg{
   width:2rem;
    height: 5rem;
    color:black;
}
#dark .servicesItem_icon svg{
    color: white;
}
.servicesItem_title{
    font-size: 2.5rem;
    color: white;
   
}